# only 국민연금 가입 data

In [1]:
import pandas as pd
import numpy as np
import csv
import	koreanize_matplotlib
import matplotlib.pyplot as plt

## 국민연금 가입

In [10]:
f1 = "국민연금 가입 사업장 내역_202007.csv"
pensionDF = pd.read_csv(f1, encoding="cp949")

C:\Users\kdp\AppData\Local\Temp\ipykernel_13908\3590243499.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  pensionDF = pd.read_csv(f1, encoding="cp949")

In [11]:
pensionDF.head()

,자료생성년월(자격마감일(사유발생일이 속하는 달의 다음달 15일)까지 신고분 반영),사업장명,사업자등록번호,사업장가입상태코드 1 등록 2 탈퇴,우편번호,사업장지번상세주소,사업장도로명상세주소,고객법정동주소코드,고객행정동주소코드,법정동주소광역시도코드,...,사업장형태구분코드 1 법인 2 개인,사업장업종코드,사업장업종코드명,적용일자,재등록일자,탈퇴일자,가입자수(고지인원 수 포함),당월고지금액( 국민연금법 시행령 제5조에 의거 기준소득월액 상한액 적용으로 실제소득과 고지금액은 상이할 수 있음 상한액 2019.7.~2020.6. 4860000원(2019.7.1.기준) 상한액 2020.7.~2021.6. 5030000원(2020.7.1.기준) 상한액 2021.7.~2022.6. 5240000원(2021.7.1.기준) ),신규취득자수(납부재개 포함 전달 고지대상자와 비교하므로 실제 취득자와 상이할 수 있음(초일취득 고지 초일이 아닌경우. 미고지(다음달 취득자수에 반영)),상실가입자수(납부예외 포함 전달 고지대상자와 비교하므로 실제 퇴사자와 상이할 수 있음(초일이 아닌 상실자는 다음달 상실자수에 반영) 국민연금법 제6조 8조 동법 시행령 제18조에 의거 60세 도달하거나 퇴직연금수급자 조기노령연금 수급권을 취득한 자는 가입대상에서 제외되며 18세미만 기초수급자는 본인희망에 의해 제외될 수 있음)
0,2020-06,우성기전(주),126811,1,12816,경기도 광주시 도척면,경기도 광주시 도척면 도척윗로,4161033025,4161033025,41,...,1,292201,동력식 수지 공구 제조업,1988-01-01,NaN,NaN,5,820680,0,0
1,2020-06,서능공원묘지운영회(재),102820,1,11191,경기도 포천시 내촌면,,4165032022,4165032022,41,...,1,701700,화장터 운영 묘지 분양 및 관리업,1988-01-01,NaN,NaN,13,3131140,0,0
2,2020-06,노들새마을금고,108820,1,06923,서울특별시 동작구 노량진동,서울특별시 동작구 만양로,1159010100,1159051000,11,...,1,659202,신용조합,1988-01-01,NaN,NaN,14,4178840,0,0
3,2020-06,유창성업(주),122812,1,22849,인천광역시 서구 오류동,인천광역시 서구 갑문2로,2826011900,2826072000,28,...,1,749604,그 외 기타 분류 안된 사업 지원 서비스업(기타임가공,1988-01-01,NaN,NaN,30,5507220,0,2
4,2020-06,희성전자(주),106810,1,04410,서울특별시 용산구 한남동,서울특별시 용산구 독서당로14길,1117013100,1117067000,11,...,1,701201,비주거용 건물 임대업(점포 자기땅),1988-01-01,NaN,NaN,497,199600660,0,1

In [12]:
pensionDF.columns

Index(['자료생성년월(자격마감일(사유발생일이 속하는 달의 다음달 15일)까지 신고분 반영)', ' 사업장명', ' 사업자등록번호',
       ' 사업장가입상태코드 1 등록 2 탈퇴', ' 우편번호', ' 사업장지번상세주소', ' 사업장도로명상세주소',
       ' 고객법정동주소코드', ' 고객행정동주소코드', ' 법정동주소광역시도코드', ' 법정동주소광역시시군구코드',
       ' 법정동주소광역시시군구읍면동코드', ' 사업장형태구분코드 1 법인 2 개인', ' 사업장업종코드', ' 사업장업종코드명',
       ' 적용일자', ' 재등록일자', ' 탈퇴일자', ' 가입자수(고지인원 수 포함)',
       ' 당월고지금액( 국민연금법 시행령 제5조에 의거 기준소득월액 상한액 적용으로 실제소득과 고지금액은 상이할 수 있음  상한액 2019.7.~2020.6. 4860000원(2019.7.1.기준) 상한액 2020.7.~2021.6. 5030000원(2020.7.1.기준) 상한액 2021.7.~2022.6.  5240000원(2021.7.1.기준) )',
       ' 신규취득자수(납부재개 포함  전달 고지대상자와 비교하므로 실제 취득자와 상이할 수 있음(초일취득 고지 초일이 아닌경우. 미고지(다음달 취득자수에 반영))',
       ' 상실가입자수(납부예외 포함  전달 고지대상자와 비교하므로 실제 퇴사자와 상이할 수 있음(초일이 아닌 상실자는 다음달 상실자수에 반영) 국민연금법 제6조 8조 동법 시행령 제18조에 의거 60세 도달하거나 퇴직연금수급자 조기노령연금 수급권을 취득한 자는 가입대상에서 제외되며 18세미만 기초수급자는 본인희망에 의해 제외될 수 있음)'],
      dtype='object')

사용할 데이터 col을 뽑아보자

In [13]:
pensionDF['사업장지번상세주소'] = np.where(pensionDF[' 사업장지번상세주소'].str.strip() != '', pensionDF[' 사업장지번상세주소'], pensionDF[' 사업장도로명상세주소'])

In [14]:
pensionDF = pensionDF[[" 사업장명", " 사업장지번상세주소", " 가입자수(고지인원 수 포함)", " 당월고지금액( 국민연금법 시행령 제5조에 의거 기준소득월액 상한액 적용으로 실제소득과 고지금액은 상이할 수 있음  상한액 2019.7.~2020.6. 4860000원(2019.7.1.기준) 상한액 2020.7.~2021.6. 5030000원(2020.7.1.기준) 상한액 2021.7.~2022.6.  5240000원(2021.7.1.기준) )"]]

In [15]:
# pensionDF[" 사업장지번상세주소"].unique()
pensionDF.columns

Index([' 사업장명', ' 사업장지번상세주소', ' 가입자수(고지인원 수 포함)',
       ' 당월고지금액( 국민연금법 시행령 제5조에 의거 기준소득월액 상한액 적용으로 실제소득과 고지금액은 상이할 수 있음  상한액 2019.7.~2020.6. 4860000원(2019.7.1.기준) 상한액 2020.7.~2021.6. 5030000원(2020.7.1.기준) 상한액 2021.7.~2022.6.  5240000원(2021.7.1.기준) )'],
      dtype='object')

In [16]:
pensionDF.columns = ["사업장명", "본사주소", "가입자수", "당월고지금액"]
pensionDF.columns

Index(['사업장명', '본사주소', '가입자수', '당월고지금액'], dtype='object')

In [17]:
# pensionDF.drop(pensionDF["본사주소"] == " ")

### 주소분리

In [18]:
pensionDF.sort_values("당월고지금액")

,사업장명,본사주소,가입자수,당월고지금액
379539,동리종합건설(주)-(일용)정관 꿈의 행복타운 부지조성공사,부산광역시 기장군 정관읍,0,0
26694,(주)이화실업,서울특별시 영등포구 신길동,0,0
92076,(주)마루아라,서울특별시 강서구 가양동,0,0
468264,（주）영성건설기술공사-(일용)군남 반딧불이 행복마을 경관개선 및 기반시설사업,전라남도 영광군 군남면,0,0
468268,퍼시픽종합건설(주)-(일용)탄방동 87-19번지 근생신축공사,대전광역시 서구 탄방동,0,0
...,...,...,...,...
173065,엘지디스플레이(주),서울특별시 영등포구 여의도동,26726,11290838200
156145,에스케이하이닉스 주식회사,경기도 이천시 부발읍,27818,11567455580
14886,엘지전자(주),서울특별시 영등포구 여의도동,40070,16425526440
3587,현대자동차(주),서울특별시 서초구 양재동,67740,28539731280
4636,삼성전자(주),경기도 수원시 영통구 매탄동,103025,43950453000

In [19]:
addr = pd.DataFrame(pensionDF["본사주소"])
addr = addr["본사주소"].apply(lambda x : x.split()[:2])
addr =	pd.DataFrame(addr.tolist(), columns=('시도', '군구'))
addr.head()

      시도   군구
0    경기도  광주시
1    경기도  포천시
2  서울특별시  동작구
3  인천광역시   서구
4  서울특별시  용산구

In [20]:
pensionDF[["시도", "군구", "나머지 주소"]] = pensionDF["본사주소"].str.split(' ', n=2, expand=True)
pensionDF.head()

           사업장명            본사주소  가입자수     당월고지금액     시도   군구 나머지 주소
0       우성기전(주)     경기도 광주시 도척면     5     820680    경기도  광주시    도척면
1  서능공원묘지운영회(재)     경기도 포천시 내촌면    13    3131140    경기도  포천시    내촌면
2       노들새마을금고  서울특별시 동작구 노량진동    14    4178840  서울특별시  동작구   노량진동
3       유창성업(주)    인천광역시 서구 오류동    30    5507220  인천광역시   서구    오류동
4       희성전자(주)   서울특별시 용산구 한남동   497  199600660  서울특별시  용산구    한남동

In [21]:
pensionDF = pensionDF.drop("본사주소", axis = True)

In [22]:
pensionDF["시도"].unique()

array(['경기도', '서울특별시', '인천광역시', '전라북도', '충청남도', '충청북도', '강원도', '부산광역시',
       '전라남도', '울산광역시', '경상북도', '세종특별자치시', '대구광역시', '경상남도', '제주특별자치도',
       '광주광역시', '대전광역시', ''], dtype=object)

In [23]:
# pensionDF[pensionDF["시도"]==""]
pensionDF = pensionDF[pensionDF["시도"] != ""]

In [24]:
addr_aliases =	{'전라북도':'전북특별자치도'}

In [25]:
pensionDF['시도'] = pensionDF['시도'].apply(lambda	v: addr_aliases.get(v, v))

## <hr>Group Area

In [26]:
group_area = pensionDF.groupby(["시도"]).sum(numeric_only=True)
group_area.head()

          가입자수        당월고지금액
시도
강원도     211064   52856095500
경기도    2308050  651508329040
경상남도    514580  141737950840
경상북도    433856  121205828180
광주광역시   190773   47680338180

In [27]:
group_area["div"] = group_area["당월고지금액"] / group_area["가입자수"]

In [28]:
group_area = group_area.sort_values("div", ascending=False)

In [29]:

# group_area = group_area.drop("황해북도")
# group_area

In [30]:
col_list = group_area.index.to_list()
company = []
for col in col_list:
    print(f"================{col}================")
    print(pensionDF[pensionDF["시도"]==col].sort_values("당월고지금액", ascending=False).head(3)["사업장명"])
    sr = pensionDF[pensionDF["시도"]==col].sort_values("당월고지금액", ascending=False).head(1)["사업장명"]
    company += sr.to_list()
    print(f"company = {company}")

================울산광역시================
441674    현대중공업주식회사
29765        근로복지공단
166808    (주)현대미포조선
Name: 사업장명, dtype: object
company = ['현대중공업주식회사']
================서울특별시================
3587        현대자동차(주)
14886        엘지전자(주)
173065    엘지디스플레이(주)
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)']
================경기도================
4636            삼성전자(주)
156145    에스케이하이닉스 주식회사
222140       삼성디스플레이(주)
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)']
================충청남도================
50803     현대제철주식회사당진공장
111353      현대트랜시스주식회사
51328           코웨이(주)
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장']
================경상북도================
165340        (주)포스코
12293     한국수력원자력(주)
156766        한국도로공사
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코']
================경상남도================
166384    삼성중공업(주)거제조선소
165421        대우조선해양(주)
180061         한국토지주택공사
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소']
================세종특별자치시================
232964                  한국콜마주식회사
173459    콘티넨탈 오토모티브 일렉트로닉스 유한회사
389553         세종특별자치시교육청(교육복지과)
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사']
================대전광역시================
5094        한국철도공사
161487     한국수자원공사
161730    (주)케이티앤지
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사']
================인천광역시================
18520            한국지엠주식회사
421642    지엠테크니컬센터코리아주식회사
102696         두산인프라코어(주)
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사', '한국지엠주식회사']
================전라남도================
3531        한국전력공사
3480      한전KPS(주)
157613     한국농어촌공사
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사', '한국지엠주식회사', '한국전력공사']
================충청북도================
50951       매그나칩반도체유한회사
299056            (주)심텍
160515    엘에스일렉트릭(주) 청주
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사', '한국지엠주식회사', '한국전력공사', '매그나칩반도체유한회사']
================부산광역시================
114315    르노삼성자동차(주)
90089         부산교통공사
89403        (주)부산은행
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사', '한국지엠주식회사', '한국전력공사', '매그나칩반도체유한회사', '르노삼성자동차(주)']
================대구광역시================
3094       한국가스공사
96265    주식회사대구은행
1322       신용보증기금
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사', '한국지엠주식회사', '한국전력공사', '매그나칩반도체유한회사', '르노삼성자동차(주)', '한국가스공사']
================강원도================
4184       국민건강보험공단
104382      (주)강원랜드
2966      건강보험심사평가원
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사', '한국지엠주식회사', '한국전력공사', '매그나칩반도체유한회사', '르노삼성자동차(주)', '한국가스공사', '국민건강보험공단']
================광주광역시================
108067     기아자동차(주)광주공장
108379    앰코테크놀로지코리아(주)
162357        금호타이어주식회사
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사', '한국지엠주식회사', '한국전력공사', '매그나칩반도체유한회사', '르노삼성자동차(주)', '한국가스공사', '국민건강보험공단', '기아자동차(주)광주공장']
================전북특별자치도================
3266        국민연금공단
3707      한국전기안전공사
162481    (주)세아베스틸
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사', '한국지엠주식회사', '한국전력공사', '매그나칩반도체유한회사', '르노삼성자동차(주)', '한국가스공사', '국민건강보험공단', '기아자동차(주)광주공장', '국민연금공단']
================제주특별자치도================
62069    주식회사 카카오
55647     (주)제주항공
13584      네오플(주)
Name: 사업장명, dtype: object
company = ['현대중공업주식회사', '현대자동차(주)', '삼성전자(주)', '현대제철주식회사당진공장', '(주)포스코', '삼성중공업(주)거제조선소', '한국콜마주식회사', '한국철도공사', '한국지엠주식회사', '한국전력공사', '매그나칩반도체유한회사', '르노삼성자동차(주)', '한국가스공사', '국민건강보험공단', '기아자동차(주)광주공장', '국민연금공단', '주식회사 카카오']

In [ ]:
plt.figure(figsize=(20, 10))
x = group_area.index.to_list()
y = group_area["div"].to_list()
bar = plt.bar(x, y, color = 'pink')
plt.xticks(rotation=70)
plt.ylim(200000, 320000)
plt.rc('xtick', labelsize=20)
plt.rc('ytick', labelsize=20)
#company = ["에이치디현대중공업주식회사", "현대자동차(주)", "삼성전자(주)", "주식회사포스코", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "주식회사 카카오"]
idx = 0
plt.title("2020_07", fontsize=20)
# 숫자 넣는 부분
for rect in bar:
    height = rect.get_height()
    plt.text(rect.get_x() + rect.get_width()/2.0, height, company[idx], ha='center', va='bottom', size = 15, rotation=90)
    idx += 1

In [32]:
company

['현대중공업주식회사',
 '현대자동차(주)',
 '삼성전자(주)',
 '현대제철주식회사당진공장',
 '(주)포스코',
 '삼성중공업(주)거제조선소',
 '한국콜마주식회사',
 '한국철도공사',
 '한국지엠주식회사',
 '한국전력공사',
 '매그나칩반도체유한회사',
 '르노삼성자동차(주)',
 '한국가스공사',
 '국민건강보험공단',
 '기아자동차(주)광주공장',
 '국민연금공단',
 '주식회사 카카오']